<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="message" class="main.de.ait.spring_test.MessageBean">
        <constructor-arg value="Hi, Juri!"/>
    </bean>

    <bean id="musicBean" class="main.de.ait.music_player.service.impl.ClassicMusicImpl">
    </bean>

    <bean id="musicBean2" class="main.de.ait.music_player.service.impl.RockMusicImpl"/>

<!--    в бин musicPlayer вставляем бин musicBean-->
    <bean id="musicPlayer" class="main.de.ait.music_player.controller.MusicPlayer">
        <constructor-arg ref="musicBean"/>
    </bean>

    <bean id="musicPlayer2" class="main.de.ait.music_player.controller.MusicPlayer">
        <constructor-arg ref="musicBean2"/>
    </bean>

<!--    бины для кошелька-->
    <bean id="pay_1" class="main.de.ait.wallet.service.impl.CashPaymentImpl"/>
    <bean id="pay_2" class="main.de.ait.wallet.service.impl.PayByCardImpl"/>
    <bean id="pay_3" class="main.de.ait.wallet.service.impl.BankTransferImpl"/>

    <bean id="wallet_1" class="main.de.ait.wallet.controller.Wallet">
        <constructor-arg ref="pay_1"/>
    </bean>
    <bean id="wallet_2" class="main.de.ait.wallet.controller.Wallet">
        <constructor-arg ref="pay_2"/>
    </bean>
    <bean id="wallet_3" class="main.de.ait.wallet.controller.Wallet">
        <constructor-arg ref="pay_3"/>
    </bean>

</beans>